.swiper-container {
  height: 450px;
  width: 1240px;
  margin-bottom: 40px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide.america-do-norte {
  background-image: url("/assets/NorthAmerica.jpg");
  background-position: bottom;
}

.swiper-slide.america-do-sul {
  background-image: url("/assets/SouthAmerica.jpg");
  background-position: center;
}

.swiper-slide.asia {
  background-image: url("/assets/Asia.jpg");
  background-position: top center;
}

.swiper-slide.africa {
  background-image: url("/assets/Africa.jpg");
  background-position: center bottom;
}

.swiper-slide.europa {
  background-image: url("/assets/Europe.png");
}

.swiper-slide.oceania {
  background-image: url("/assets/Oceania.jpg");
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .swiper-container {
    height: 250px;
    max-width: 90%;
    margin: 0 auto 24px;
  }
}
